/* * {
    color: white;
    background-color: #00003d;
    
    background-color: #00003d; 
    background-color: #00276c;
    background-color: #014ba0;
    background-color: #5b7dcf;
    background-color: #96b3ff;
    
}
*/